/*--------------------------------BANNER|MEGATRON
*/

.banner {
    position: relative;
    width: 100vw;
    height: 90vh;
    margin-top: 0;
    margin-bottom: 10rem;
    background: url(), #E7D27C40;
    display: flex;
    justify-content: center;
}

.banner figure {
    position: absolute;
    bottom: 0;
    width: 50%;
    min-width: 30rem;
    max-width: 60rem;
    display: block;
    height: auto;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner figcaption {
    position: absolute;
    bottom: -12rem;
    width: 100%;
    background: #fff;
    text-align: center;
}

.banner h2 {
    margin: 0;
    padding: 0;
    padding-top: 1.2rem;
    font-family: 'League Spartan';
    font-weight: 800;
}

.banner p {
    margin: 0;
    margin-top: 1.2rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1;
}

.banner .button {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

/*--------------------------------SECTION: PROJECTS
                                  SECTION: EXPERIENCE
*/

.project-heading {
    color: #0FA0CE;
    background: #1EAEDB30;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards.full .card {
    max-width: 80rem;
}

.cards.tile .card {
    max-width: 30rem;
}

.card {
    width: 85%;
    margin: 1.2rem;
    padding: 2rem;
    border: 0.1rem black solid;
    border-radius: 1.2rem;
}

.card figure {
    display: block;
    width: 100%;
    max-width: 40rem;
    margin: 0;
    margin-right: 1.2rem;
    padding: 0;
    float: left;
}

.card img {
    width: 100%;
    height: auto;
    margin: auto;
    border-bottom: 0.2rem groove black;
    border-radius: 1.2rem;
}

.card h3 {
    font-family: 'League Spartan';
    font-weight: 400;
}

.card .card-ctt h3 {
    margin-top: 2.4rem;
}

.card p {
    margin: 0;
    line-height: 1.2;
}

.card .card-connect {
    width: 100%;
    text-align: center;
}

@media screen
and (min-width: 500px)
and (max-width: 800px) {
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.single {
    width: calc(100% - 4rem);
    max-width: 80rem;
    margin-left: 2rem;
    border: none;
}

.single p {
    margin-bottom: 2.4rem;
}

/*--------------------------------SECTION: EDUCATION
*/

ol li {
    font-weight: 800;
    font-size: 2.4rem;
}

ol .li-ctt {
    font-weight: 400;
    font-size: 1.5rem;
}

ol .degree {
    padding-bottom: 2rem;
    font-size: 2.4rem;
}

/*--------------------------------SECTION: EDUCATION
*/

ul {
    padding-left: 1.2rem;
}

ul li {
    padding-left: 0;
}

/*--------------------------------SECTION: TRAINING
*/

details {
    border: 0.1rem solid black;
    border-radius: 0.4rem;
    margin-bottom: 2.4rem;
    padding: 1.2rem 1.2rem 0;
}

summary {
    margin: -1.2rem -1.2rem 0;
    padding: 1.2rem;
    font-family: 'Bebas Neue';
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

details[open] {
    padding: 1.2rem;
}

.story-btn {
    margin: 0;
    margin-left: 0.6rem;
}