main {
    margin-top: 12rem;
}

h1 {
    font-family: 'League Spartan';
    font-weight: 100;
    text-align: center;
}

img {
    width: 30rem;
    height: auto;
    margin-right: 1.8rem;
    border-radius: 0.6rem;
    float: left;
}

img.right {
    margin-right: 0;
    margin-left: 1.8rem;
    float: right;
}

img.none {
    width: 100%;
    margin: 1.8rem 0;
    clear: both;
}

p {
    margin: 1.2rem 0;
    text-align: justify;
}

p::first-letter {
    font-size: 2.8rem;
    font-weight: 800;
    color: red;
}

p.em {
    text-align: center;
}

p.em::first-letter {
    font-size: 2rem;
    color: black;
}

blockquote {
    font-family: 'League Spartan';
    font-weight: 400;
    font-size: 1.5rem;
}

blockquote span {
    border-bottom: 0.1rem solid black;
    font-family: 'League Spartan';
    font-size: 2rem;
}

.date-counter {
    text-align: center;
}

.date-counter span {
    font-family: 'Bebas Neue';
}

#date-1 {
    font-size: 4.2rem;
}

#date-2 {
    font-weight: bold;
    font-size: 1.8rem;
    border-bottom: none;
}